.inscription-content {
    min-width: 500px;
}

.inscription-header {
    margin-bottom: 20px;
    text-align: center;
}

.inscription-check {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.inscription-btn {
    width: 100%;
}