.mapas-h{
    text-align: left;
    margin-left: calc(43% / 5);
    margin-top: 80px;
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #000000;
}

.map-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.maps-img{
    height: 650px;
    width: 45%;
}