:root {
    --main-color: #FFBC11;
    --main-text-color: #000;
    --secondary-text-color: #3A3A3A;
    --grey: #D9D9D9;
}

* {
    font-family: "Montserrat";
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    color: var(--main-text-color);
    font-size: 55px !important;
    font-weight: 800 !important;
}

h2 {
    color: var(--main-text-color);
    font-size: 30px;
    margin: 0;
    font-weight: 700 !important;
}

h3 {
    color: var(--main-text-color);
    margin: 0;
    font-size: 20px;
    font-weight: 700 !important;
}

p {
    color: var(--secondary-text-color);
    margin: 0;
    font-size: 20px !important;
    font-weight: 600;
}


.page-container {
    padding: 30px 4% !important;
}

.form-container {
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: 10px;
    width: 800px;
    padding: 20px;
}


/* Input */


.input-label {
    color: #4D4D4D;
    margin: 0;
}

.input {
    background-color: #F5F5F5;
    color: #4D4D4D;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    outline: none;
    padding: 0 15px;
    height: 40px;
}


/* Button */


.button {
    padding: 0 15px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    height: 50px;
    transition: all .3s ease;
}


/* Decoration */


.unpadding {
    margin: unset !important;
    padding: unset !important;
}

.unbackground {
    border-style: unset;
    background-color: unset;
}

.bold-hr {
    background-color: var(--main-color);
    opacity: unset;
    border-style: none;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    height: 7px;
    width: 50px;
}

.colored {
    color: var(--main-color);
}