.navbar {
    padding: 15px 4% !important;
}

.nav-title {
    color: var(--main-text-color);
    font-size: 24px !important;
    font-weight: 900;
}

.nav-link {
    color: var(--main-text-color) !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    margin-left: 30px;
}

.nav-link:hover {
    color: var(--main-color) !important;
}